/* svg text {
  font-family: 'Roboto';
}


.legend-text {
  font-size: 14px;
  font-family: 'Roboto';
}
.cost-container .x-axis {
  display: none;
}


/* .cost-container .y-axis .tick line{
  display: none;
} */


.label {
  fill: rgb(51,51,51);
}

.cost-container .y-axis path{
  color: #B8D734;
  stroke-width: 3px;
} 



.donut-container {
  display: inline-block;
  /* width: 150px; */
}

.donut-legend-container {
  display: inline-block;
  width: 150px;
}