/* svg text {
  font-family: 'Roboto';
}


.legend-text {
  font-size: 14px;
  font-family: 'Roboto';
}
.cost-container .x-axis {
  display: none;
}


/* .cost-container .y-axis .tick line{
  display: none;
} */


.label {
  fill: rgb(51,51,51);
}

.cost-container .y-axis path{
  color: #B8D734;
  stroke-width: 3px;
} 



.donut-container {
  display: inline-block;
  /* width: 150px; */
}

.donut-legend-container {
  display: inline-block;
  width: 150px;
}



.footprint-icon {
  color: white;
  display: inline-block;
  font-family: 'Roboto-Bold';
  font-size: 42px;
  text-align: center;
  min-width: 100px;
  height: 60px;
  padding-top: 5px;
  background: #BAD636;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 5px;
  padding-left: 5px;
}




div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;				
  height: 28px;					
  padding: 2px;				
  font: 12px;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}