.header {
	height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.header-left {
	margin-right: 15px;
	margin-left: 25px;
	margin-bottom: 10px;
}

.header-middle {
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	min-width: 390px;
	margin-bottom: 15px;
}

.header-right {
	min-width: 275px;
	margin-right: 15px;
	margin-left: 15px;
}
.header-right button {
	margin-left: 5px;
	margin-right: 5px;
}

.header .header-logos {
	/* float: right; */
}

.header .help-btn {
	display: inline-block;
	position: relative;
	top: 5px;
	/* position: absolute;
	right: 50px;
	top: 35px; */
}

.header .title-text {
	font-family: 'CircularStd-Black';
	position: relative;
	top: 8px;
	font-size: 30px;
	color: rgb(89, 89, 84);
	letter-spacing: 2px;
}

.header .title-text.title-small {
	position: relative;
	top: 8px;
	font-size: 24px;
}

.header .property-name {
	position: relative;
	top: 10px;
	font-size: 18px;
	letter-spacing: 3.5px;
}

.title-after {
	content: '';
	position: absolute;
	left: 0px;
	top: 95px;
	height: 4px;
	text-align: center;
	align-content: center;
	align-self: center;
	width: 100%;
	background-color: #bad636;
	display: inline-block;
}

/* UI COMPONENTS */
.demo-btn.demo-on {
	background-color: #bad636;
}
.demo-btn.demo-on:hover {
	background-color: rgb(156, 182, 42);
}

.demo-btn.demo-off {
	background-color: rgb(153, 153, 153);
}

.demo-btn.demo-off:hover {
	background-color: rgb(135, 135, 135);
}

.demo-btn {
	font-family: 'CircularStd-Bold';
	background-color: #bad636;
	border: none;
	color: white;
	padding: 12px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition: background-color 200ms;
	cursor: pointer;
}

.load-bldg-btn {
	font-family: 'CircularStd-Bold';
	background-color: #bad636;
	border: none;
	color: white;
	padding: 12px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition: background-color 200ms;
	cursor: pointer;
}
.load-bldg-btn.demo-on {
	background-color: #bad636;
}
.load-bldg-btn.demo-on:hover {
	background-color: rgb(156, 182, 42);
}

.load-bldg-btn.demo-off {
	background-color: rgb(153, 153, 153);
}
.load-bldg-btn.demo-off:hover {
	background-color: rgb(135, 135, 135);
}

.header .help-btn:hover {
	cursor: pointer;
	fill: rgb(156, 182, 42);
	transition: background-color 500ms;
}
