.load-modal-body {
	margin: 20px;
}

.load-modal-content {
	height: 80%;
}

.load-modal-body .bldg-input {
	height: 1.5em;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.select-bldg-btn {
	height: 15px;
	width: 60px;
	background-color: rgb(153, 153, 153);
	color: white;
	font-family: 'CircularStd-Bold';
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition: background-color 200ms;
	cursor: pointer;
}
.select-bldg-btn:hover {
	background-color: rgb(135, 135, 135);
}
.select-bldg-btn.active {
	background-color: #bad636;
}
.select-bldg-btn.active:hover {
	background-color: rgb(156, 182, 42);
}

.ok-dialog-btn-container {
	text-align: center;
}
.ok-dialog-btn {
	height: 15px;
	width: 200px;
	margin: 10px;
	background-color: rgb(153, 153, 153);
	background-color: #bad636;
	color: white;
	font-family: 'CircularStd-Bold';
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition: background-color 200ms;
	cursor: pointer;
}
.ok-dialog-btn:hover {
	background-color: rgb(135, 135, 135);
	background-color: rgb(156, 182, 42);
}

.load-modal-results-table-container {
	overflow-y: hidden;
	overflow-x: hidden;
}

.load-modal-results-table {
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
}
.load-modal-results-table td {
	box-sizing: border-box;
	padding: 5px;
}

.load-modal-results-table thead {
	border-bottom: solid 2px rgb(135, 135, 135);
}
.load-modal-results-table tr {
	border-bottom: solid 1px rgb(221, 221, 221);
}
