.logo-akf {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 5px;
}

.logo-beex {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  top: 5px;
}

.logo-nyc {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}