
body {
  zoom: 0.9;
}
.print-layout {
  display: none;
}
.modal {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal .modal-content {
  height: 80%;
  width: 80%;
  padding: 10%;
  border-radius: 5px;
  background-color: white;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-sizing: border-box;
}
  

.modal.inactive {
  left: -999px;
  display: none;
}
.modal {
  transition: left 1000ms;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


.main-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}



.sidebar {
  position: fixed;
  top: 0;
  /* background: rgb(182, 179, 179); */
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  height: calc(100% - 100px);
  width: 350px; 
  overflow-x: hidden; 
  /* padding-top: 20px; */
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 350px;
  width: 100%;
  height: 100px;
  /* background-color: rgb(219, 219, 219); */
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  z-index: -1;
}

.content-layout {
  position: fixed;
  left: 350px;
  top: 0px;
  width: calc(100% - 350px - 10px);
  height: calc(100% - 100px);
  vertical-align: top;
  white-space: nowrap;
  box-sizing: border-box;
  /* padding-top: 10px; */
}






.footer {
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: calc(100vw - 350px);
  border-top-width: 1px;
  border-top-style: solidpx;
  border-top-color: black;
  padding: 20px;
  box-sizing: border-box;

  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
}

.container-header {
  font-family: 'CircularStd-Bold';
  font-size: 16px;
  margin-bottom: 15px;
}

.container-header:after {
  content: "";
  height: 4px;
  margin-top: 4px;
  width: 50px;
  background-color: #bad636;
  display: block;
}

.top-row {
  display: block;
  height: 50%;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.bottom-row {
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  margin-left: 20px;
  margin-right: 20px;
  height: calc(50% - 10px);

}

.carbon-bar-card {
  padding: 20px;
  border-radius: 7px;
  background: #FFFFFF;
  border: 0.5px solid #d2d2d2;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  height: 100%;
  margin-right: 20px;

}



.cost-card {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding: 20px;
  border-radius: 7px;
  background: #FFFFFF;
  border: 0.5px solid #D2D2D2;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  width: 50%;
}

.donut-card {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  height: 100%;
  border-radius: 7px;
  background: #FFFFFF;
  border: 0.5px solid #D2D2D2;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  width: 50%;
}



.header img {
  margin: 0px 5% 0px 5%;
  }
  