.print-layout {
	background-color: white;
	position: absolute;
	z-index: 1;
}

.main-container {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

.sidebar {
	position: fixed;
	top: 100px;
	border-right: 4px solid rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	text-align: left;
	height: calc(100% - 110px - 100px);
	width: 300px;
	overflow-x: hidden;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.content-layout {
	position: fixed;
	left: 300px;
	top: 100px;
	width: max(750px, calc(100% - 300px - 10px));
	height: calc(100% - 100px - 100px);
	vertical-align: top;
	white-space: nowrap;
	box-sizing: border-box;
}

.footer {
	position: fixed;
	height: 70px;
	bottom: 0px;
	width: max(750px, 100%);
}

.header {
	position: fixed;
	top: 0px;
	height: 100px;
	width: 100vw;
	padding: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.container-header {
	font-family: 'CircularStd-Bold';
	font-size: 16px;
	margin-bottom: 10px;
}

.container-header:after {
	content: '';
	height: 4px;
	margin-top: 4px;
	width: 50px;
	background-color: #bad636;
	display: block;
}

.top-row {
	display: block;
	height: calc(50% - 10px);
	width: calc(100% - 20px);
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.bottom-row {
	display: block;
	box-sizing: border-box;
	width: calc(100% - 30px);
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	height: calc(50% - 30px);
}

.carbon-main-container {
	display: inline-block;
	width: 100%;
	padding: 10px;
	background: #ffffff;
	border-bottom: 4px solid rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	height: 100%;
	vertical-align: top;
}

.carbon-main-container .container-header {
	margin-bottom: 0px;
}

.carbon-summary-card {
	vertical-align: top;
	display: inline-block;
	margin: 10px;
	padding: 0px;
	width: 200px;
	background: #ffffff;
	box-sizing: border-box;
	height: calc(100% - 30px);
	margin-right: 20px;
}
.summary-container {
	height: max(45%, 100px);
}

.carbon-bar-card {
	position: relative;
	display: inline-block;
	margin: 10px;
	width: calc(100% - 240px);
	background: #ffffff;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	box-sizing: border-box;
	height: calc(100% - 30px);
	margin-right: 20px;
}

.cost-card {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	padding: 10px;
	background: #ffffff;
	box-sizing: border-box;
	border-right: 4px solid rgba(0, 0, 0, 0.25);
	margin-right: 5px;
	width: 50%;
}

.donut-card {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	height: 100%;
	background: #ffffff;
	box-sizing: border-box;
	margin-left: 5px;
	width: 50%;
}
