
.sidebar .print-btn {
  position: absolute;
  left: 220px;
  top: 5px;

}
.sidebar .help-btn {
  position: absolute;
  left: 250px;
  top: 10px;
}

.sidebar .print-btn:hover {
  cursor: pointer;
  fill: rgb(156, 182, 42);
  transition: background-color 500ms;
}
.sidebar .help-btn:hover {
  cursor: pointer;
  fill: rgb(156, 182, 42);
  transition: background-color 500ms;
}


.sidebar input {
  background: #FFFFFF;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.bldg-input-main-container {
  /* display: inline-block; */
  margin-left: 12px;
  margin-right: 20px;
}



.input-header-type {
  margin-left: 10px;
  display: inline-block;
}

.input-header-area {
  margin-left: 47px;
  display: inline-block;
}

.area-container, .type-container {
  display: inline-block;
}

.area-container input {
  width: 70px;
  margin: 0px 0px 0px 10px;
}

.area-container div {
  margin: 0px 0px 0px 10px;
}

.type-container {
  width: 125px;
  margin: 0px 10px 10px 0px;
}

.type-controls-container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(153, 153, 153);
}


.cost-container input {
  width: 40px;
  margin: 0px 0px 0px 10px;
}

.utility-input-main-container {
  margin-left: 20px;
  margin-right: 20px;
  /* overflow-y: scroll;
  height: 25%; */
}

.utility-input-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.consumption-container, .cost-container {
  display: inline-block;
}

.consumption-container input {
  width: 125px;
  margin: 5px 5px 5px 0px;
}

.cost-container div {
  margin: 0px 0px 0px 10px;
}

.cost-container input {
  width: 70px;
  margin: 5px 0px 5px 10px;
}

/* typography */

.bldg-type-select {
  font-family: 'CircularStd-Book';
  height: 30px;
  padding: .6em 1.4em .5em .8em;
  width: 150px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.bldg-type-select::-ms-expand {
  display: none;
}

.bldg-type-select:hover {
  border-color: #888;
}

.bldg-type-select:focus {
  border-color: #aaa;
  outline: none;
}

.type-remove-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
  height: 35px;
}

.type-remove-btn:hover {
  border: black;
  color: #fa0000;
  cursor: pointer;
}

.sidebar-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0px;
  margin: 2px;
  height: 40px;
  padding: 10px;
  /* margin-left: 20%; */
  /* margin-right: 20%; */
}

.sidebar-btn:hover {
  background-color: rgb(74, 75, 70);
  border: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 500ms;
}

.add-building-type button {
  cursor: pointer;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  border-radius: 0px;
  /* font-style: bold; */
  font-size: 18px;
  padding: 0px;
  padding-bottom: 5px;
  vertical-align: middle;
  background-color: #BAD636;
  border: none;
}

.add-building-type button:hover {
  background-color: rgb(156, 182, 42);
  transition: background-color 500ms;
}

.add-building-type div {
  display: inline-block;
  margin-left: 5px;
  padding-top: 10px;
  font-size: 14px;
  vertical-align: middle;
  /* font-family: 'Circular-Std-Medium'; */
  color: #333333;
  line-height: 20px;
}


.type-label {
  position: relative;
  left: -15px;
  top: 10px;
  display: inline-block;
  align-content: right;
  align-self: right;
  text-align: right;
  /* ali */
  float: left;
  /* margin-right: 10px; */
}








.type-controls-container {
/* display: inline-block; */
}

.type-label {
width: 8px;
text-align: left;
}

.add-building-type {
  margin-left: 10px;
}
.area-container input {
  margin-left: 5px;
}


.sidebar .head-text-2 {
  /* display: inline-block; */
}


.default-rate-btn {
  margin-left: 20px;
}


.default-rate-checkbox {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px;
  
}

.default-rate-checkbox input {
  display: inline-block;
  padding-top: 10px;
  position: relative;
  top: 5px;
  margin: 0px;
  margin-left: 5px;
}


.default-rate-checkbox div {
  display: inline-block;
  position: relative;
  left: 5px;
  font-family: 'CircularStd-Book';
}



input[type=checkbox] {
  padding-left:5px;
  padding-right:5px;
  border-radius:15px;
  -webkit-appearance:button;
  border: double 2px #00F;
  background-color:#BAD636;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;
  width:20px;
  height:20px;
}

input[type=checkbox]:checked {
  background: #BAD636;
}
