
/* typography */

.head-text-1 {
  text-align: left;
  font-family: 'CircularStd-Bold';
  font-size: 20px;
  border-top: 4px solid #BAD636;
  border-bottom: 4px solid #BAD636;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.text-alert {
  color: red;
}
.head-text-2 {
  text-align: left;
  font-family: 'CircularStd-Black';
  /* border-bottom: 1px solid #BAD636;  */
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

.head-text-2::after {
  content: "";
  height: 4px;
  margin-top: 4px;
  width: 50px;
  background-color: #bad636;
  display: block;
}

.head-text-2.text-alert::after {
  content: "";
  height: 4px;
  margin-top: 4px;
  width: 50px;
  background-color:red;
  display: block;
}

.head-text-3 {
  display: inline-block;
  font-family: 'CircularStd-Bold';
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.head-text-4 {
  font-family: 'CircularStd-Book';
  font-size: 14px;
}
