
@font-face {
  font-family: 'CircularStd-Black';
  src: local('CircularStd'), url('./fonts/CircularStd-Black.otf') format('truetype');
}

@font-face {
  font-family: 'CircularStd-Book';
  src: local('CircularStd'), url('./fonts/CircularStd-Book.otf') format('truetype');
}
@font-face {
  font-family: 'CircularStd-Medium';
  src: local('CircularStd'), url('./fonts/CircularStd-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'CircularStd-Bold';
  src: local('CircularStd'), url('./fonts/CircularStd-Bold.otf') format('truetype');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*
BE-EX COLORS

MAIN:
184,215,52

REDS:
178,50,50
161,46,46
131,37,37

GREENS:
110,177,44
95,153,38
79,127,32


BLUES:
53,143,180
44,122,156
35,103,133


GRAYS:
  DARK:
    89,90,84

  LIGHTER:
    225,225,225
    210,210,210
    153,153,153


    FONTS:
    CIRCULAR STD-BOLD
*/

body {
  font-family: 'CircularStd-Book';
}



.main-container {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.sidebar {
  background: #FFFFFF;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}



.header {
  position: fixed;
  left: 300px;
  top: 0;
  width: calc(100vw - 300px);
  height: 100px;
  /* background-color: rgb(219, 219, 219); */
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.content-layout {
  position: fixed;
  left: 300px;
  top: 100px;
  min-width: 500px;
  width: calc(95vw - 300px);
  height: calc(95vh - 125px) ;
  vertical-align: top;
  /* background-color: rgb(219, 219, 219); */
  /* overflow-x: hidden; */
  white-space: nowrap;
}


.header img {
margin: 0px 5% 0px 5%;
}